{
	email myemail@example.com
	on_demand_tls {
		ask http://localhost:3000/tls-check
	}
}

# PDS
*.pds.example.com, pds.example.com {
	tls {
		on_demand
	}
	reverse_proxy http://localhost:3000
}
# Anything else for your server
...
